# Python-related
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/
venv/
.venv/

# Python environment
env/
venv/
.venv/
Pipfile
Pipfile.lock
poetry.lock
conda/
.conda/

# IDE settings (VSCode, PyCharm)
.vscode/
.idea/
*.iml

# macOS-related
.DS_Store
.AppleDouble
.LSOverride

# Log / Debug files
*.log
*.sqlite3
*.db

# others
*.csv
*.json
*.zip
*.gradio
models/*
logs/*
*.npy
*.pt